.Conten_ShowCard{
    object-fit: contain;
    width: 250px;
    border:1px solid grey;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    
   
    

}
.ShowCard_img{
    padding: 10px;
    display: flex;  
    height: 250px;
    object-fit: contain;
    
}

.ShowCard_listado{
    margin-left: 0;
    list-style: none;
    
   
}

.ShowCard_items{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}
.ShowCard_items_marca{
    color: grey;
}
.ShowCard_items_title{
    display: flex;
    margin-left: 15px;
    font-weight: 900;
}
.ShowCard_items_price_name{
    color: grey;
}
.ShowCard_items_price{
    margin-left: 15px;
    font-weight: 900;
}

.ShowCard_botones{
   display: flex;
   gap:10px;
   padding: 10px; 
   justify-content: center
}
.ShowCard_botones .btn{
    background-color: #f85555;
    color: #fff;
    padding: 5px;
    border-radius: 6px;
    border: 0;
}

.ShowCard_hr{
    width: 100%;
}

